# Xcode
.DS_Store
build/
*.o
*.LinkFileList
*.hmap
*~.nib/
*.swp
*~
*.dat
*.dep
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

Stuff
.DS_Store

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
build

*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
*.xcworkspace/xcuserdata/*.xcuserdatad

build/

# Cocoapods
Podfile.lock
Pods